.nav-purple-bg {
    background-color: #479f76; /* Puedes ajustar el color según tus preferencias */
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 200;
}