*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    background-color : #479f76;
    color: white;
}

button:hover{
    color:white;
    background-color : #326e52;
}