<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-6">
            <h1 class="text-center">Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="mb-3">
                    <label for="firstName" class="form-label">Username</label>
                    <input type="text" formControlName="firstName" class="form-control" />
                    <div class="text-danger" *ngIf="isValidField('firstName')">
                        {{ getErrorMessage('firstName') }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input [type]="hide ? 'password': 'text'" formControlName="password" class="form-control">
                    <button class="btn btn-outline-secondary" type="button" (click)="hide = !hide">
                        <i class="bi {{ hide ? 'bi-eye' : 'bi-eye-slash' }}"></i>
                    </button>
                    <div class="text-danger" *ngIf="isValidField('password')">
                        {{ getErrorMessage('password') }}
                    </div>
                    <div class="text-danger" *ngIf="isPass">
                      {{ "Contraseña incorrecta" }}
                  </div>
                </div>
                <div class="text-center">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn iniciar">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>